<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        table,
        th,
        td {
            text-align: center;
            font-size: 20px;
            border: 2px solid black;
            padding: 5px;
        }

        table {
            border-collapse: collapse;
            margin-top: 20px;
        }

        td {
            font-size: 14px;
        }

        th {
            width: 150px;
        }
    </style>
</head>

<body>
    <main>
        <center>
            <div>
                <h1>Welcome to AdminPanel, Sir</h1>
                <hr>
                <br>
                <h2>Your Query's, Sir</h2>
            </div>

            <!-- name mobile email message -->
            <table>
                <tr>
                    <th>S No.</th>
                    <th>Name</th>
                    <th>Mobile No.</th>
                    <th>Email</th>
                    <th class="message">Message</th>

                </tr>


                <%for(c of contact){%>
                    <tr>
                        <td>
                            <%=i++%>
                        </td>
                        <td>
                            <%=c.name%>
                        </td>
                        <td>
                            <%=c.mobile_no%>
                        </td>
                        <td>
                            <%=c.email%>
                        </td>
                        <td>
                            <%=c.message%>
                        </td>
                    </tr>

                    <%}%>


            </table>
        </center>
    </main>

</body>

</html>